<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container py-4">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <!-- Start of template -->
    <a class="btn btn-primary" href="http://localhost:8000/quotes" role="button">Quotes</a>
    <a class="btn btn-primary" href="http://localhost:8000/" role="button">Index</a>

    <div class="container py-4">
        <!-- Entering row -->
        <div class="row g-4">
            <!-- Start of div 1 -->
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-title; text-center"><h4>Person of the month</h4></div>
                    <img src="../static/trincat.jpg" width="col-4"/>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of div 1 -->
            <!-- Start of div 2 -->
            <div class="col-md-3 d-grid gap-4">
                <div class="card">
                    <div class="card-title; text-center"><h4>Quote of the day</h4></div>
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p>"From the screen to the ring to the pen to the king"</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                KSI in <cite title="Source Title">Thick of it</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title; text-center"><h4>Top 5 rated quotes</h4></div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                            <li class="list-group-item">Bludclaart</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of div 2 -->
            <!-- Start of div 3-->
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-title text-center"><h4>Submit a quote</h4></div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>