<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<!-- Start of template -->
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 py-4">
    <div class="card p-4" style="width: 100%; max-width: 400px;">
        <div class="card-title text-center">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h3>"I have never had watermelon before"</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Mat Gilbert
                </figcaption>
            </figure>
            <h4>Log in or Sign up</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password">
                </div>
                <div class="col-md-auto">
                    <a href="#" class="link-secondary">Forgot password</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of template -->
</body>
</html>