<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<div class="container py-4">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <a class="btn btn-primary" href="http://localhost:8000/home" role="button">Home</a>
    <a class="btn btn-primary" href="http://localhost:8000/" role="button">Index</a>
    <a class="btn btn-primary" href="http://localhost:8000/login" role="button">Login</a>
    <div class="row">
        {% for i in range(11) %}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p>You need to start in the trenches to appreciate the penthouse</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Kabir Marathe">Kabir Marathe</cite>
                        </figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-6">
                            (Tags go here)
                        </div>
                        <div class="col-6 text-end">
                            (Date goes here)
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>