<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quote</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<!-- Start of template -->
<a href="http://localhost:8000/home" class="btn btn-primary">Home</a>
<a href="http://localhost:8000/" class="btn btn-primary">Index</a>
<a class="btn btn-primary" href="http://localhost:8000/login" role="button">Login</a>
<div class="container d-flex min-vh-100 flex-column py-4">
    <div class="row mt-5">
        <div class="col-12">
            <p class="text-end">DD/MM/YYYY</p>
        </div>
    </div>
    <div class="p-5 rounded-4 shadow-lg ">
        <div class="row">
            <div class="col-12">
                <figure>
                    <blockquote class="blockquote fst-italic" style="font-size: 50pt">
                        From the screen to the ring to the pen to the king
                    </blockquote>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span class="badge rounded-pill text-bg-primary">Tag</span>
                <span class="badge rounded-pill text-bg-primary">Tag</span>
                <span class="badge rounded-pill text-bg-primary">Tag</span>
            </div>
            <div class="col-6">
                <p class="text-end" style="font-size: 20pt">- KSI in <cite>Thick of it</cite></p>
            </div>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col-12">
            <h3>Related Quotes:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card rounded-4">
                <div class="card-body">
                    Bludclaart Bludclaart
                </div>
                <div class="card-footer">
                    -Author
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-4">
                <div class="card-body">
                    Bludclaart Bludclaart
                </div>
                <div class="card-footer">
                    -Author
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-4">
                <div class="card-body">
                    Bludclaart Bludclaart
                </div>
                <div class="card-footer">
                    -Author
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of template -->
</body>
</html>